$color-primary: #f5eb5e;
$color-primary-light: #f1f118;
$color-primary-dark:  #dbd143;

// $color-secondary-light: ;
// $color-secondary-dark: ;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;