.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 12rem 0 15rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.7), 
        rgba($color-primary-light, 0.7)), 
    url(../img/water-small.jpg);
    background-size: cover;
     background-position: center;
    position: relative;

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary, 0.7), 
            rgba($color-primary-light, 0.7)), 
        url(../img/water.jpg);
    }
}

.section-stories {
    padding: 12rem 0;
    background-color: $color-grey-light-1;
}

.section-partners {
    padding: 15rem 12rem 12rem 12rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.7), 
        rgba($color-primary-light, 0.7)), 
    url(../img/boat2-small.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary, 0.7), 
            rgba($color-primary-light, 0.7)), 
        url(../img/boat2.jpg);
    }
}